* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(to right, #000000, #0f1f28);
  color: white;
}

.container {
  display: flex;
  height: 100vh;
}

/* LEFT SIDE */
.left {
  flex: 1;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align:center;
  margin-left:110px;
  margin-bottom:500px;
}

.logo {
  width:100px;
  position:absolute;
  top:100px;
  left:40px;
}

.headline {
  font-family:"Times New Roman";
  font-size: 56px;
  line-height: 1.3;
  max-width: 1000px;
}

.orange {
  color: orange;
}

.pink {
  color: hotpink;
}

.img1 {
  top:380px;
  left: 200px;
  width: 700px;
  position: absolute;
}

/* RIGHT SIDE */
.right {
  width: 800px;
  background: #12242d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:17px;
  border-left: 1px solid #8c8c8c;
}

.login-box {
  width: 600px;
  text-align: left;
}

.login-box h2 {
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 25px;
  margin: 10px 0;
  background:#12242d;
  border-radius: 17px;
  border: solid 1px #8c8c8c;
  color: white;
  font-size:17px;
}

button {
  width: 100%;
  padding: 12px;
  border-radius: 30px;
  border: none;
  margin-top: 10px;
  font-size: 17px;
  cursor: pointer;
}

.login-btn {
  background: #26538e;
  color: white;
}

.facebook-btn {
  background: #12242d;
  color: white;
  margin-top: 10px;
  border:solid 1px #8c8c8c;
  border-radius:30px;
}

.link {
  margin-top: 15px;
  font-size: 17px;
  color: #cdcdcd;
  cursor: pointer;
  text-align:center;
  margin-bottom:50px;
  text-decoration: none;
  background:none;
}

.meta {
  margin-top: 30px;
  color: #aaa;
  font-size: 14px;
  text-align:center;
}
.acc-btn{
  border-color:#1f6feb;
  color:#1f6feb;
}
