* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #f9fafb;
  color: #111;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 40px;
  background: white;
  border-bottom: 1px solid #ddd;
}

nav a {
  margin-right: 20px;
  text-decoration: none;
  color: #333;
  font-size: 14px;
}

.nav-right input {
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}


.hero {
  text-align: center;
  padding: 80px 20px 40px;
  background: white;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero p {
  color: #555;
  max-width: 700px;
  margin: 0 auto 30px;
  font-size: 16px;
}

.hero button {
  padding: 14px 28px;
  border-radius: 8px;
  border: none;
  background: #111;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.pricing {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 60px 20px;
}

.card {
  background: white;
  border-radius: 12px;
  padding: 30px;
  width: 400px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  text-align: left;
}

.card h2 {
  margin-bottom: 10px;
}

.price {
  font-size: 36px;
  margin-bottom:20px;
  text-align: left;
}

.card button {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 20px;
}

.btn-nav{
  width:60px;
  padding:0px;
  padding-top:4px;
  padding-bottom:4px;
  border-radius:8px;
  text-align:center;
}

.btn-light {
  background: #f1f1f1;
}

.btn-dark {
  background: #111;
  color: white;
}

.enterprise {
  border: 3px solid #1f6feb;
}

.recommended {
  background: #1f6feb;
  color: white;
  padding: 6px;
  border-radius: 6px;
  font-size: 18px;
  height:20px;
  width:400px;
  position:absolute;
  left:1076px;
  top:440px;
  text-align:center;
  margin-bottom:10px;
  font-weight:bold;
  padding-bottom:24px;
}
.logo{
  margin-right: 20px;
}
.um {
  font-size:15px;
  padding-top:10px;
  position:absolute;
  color: #9f9f9f;
}
summary{
  margin-bottom:10px;
}
.dropdown p{
  font-size:13px;
  margin-bottom:10px;
}
.featured{
  color:#3a7fd9;
  margin-bottom:10px;
}
.addons h1{
  font-size:60px;
  padding:40px;
  background-color: #ececec;
  box-shadow: 0 0 5px 10px #ececec;
}
.addons{
  background-color: #ececec;
  box-shadow: 0 0 5px 10px #ececec;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 20px 20px;
}
.card h4{
  margin-top:10px;
}
.link{
  transition: transform 0.6s cubic-bezier(0.16, 1, 0.3, 1);
  display: flex;
  text-decoration: none;
  width: 100% ;
  justify-content: space-between ;
  flex-direction: column;
  border-radius: 6px;
  cursor:pointer;
  box-sizing: border-box;
}

